.item__input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #2f80ed;
  background-color: #2f80ed;
}
