
.search-bar {
  border: 1px solid #bdbdbd !important;
  box-sizing: border-box !important;
  border-radius: 12px !important;
  margin-left: 20% !important;
}

.search-bar::placeholder {
  padding-left: 10px;
}

.search-bar[type="text"] {
  padding-left: 10px !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  box-shadow: 0 1px 0 0 transparent !important;
}

.search-bar__button {
  background-color: #2f80ed !important;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  width: 80%;
  height: 40px;
  text-transform: capitalize;
  margin-right: 10% !important;
  margin-top: 1.5% !important;
}

.button__container {
  margin-right: 15% !important;
  

}

.search-bar__container {
  width: 100%;
  display: flex;
  margin: 6% auto;
}

/*Mobile S*/

@media screen and (min-width: 320px) and (max-width: 374px) {
  .search-bar {
    margin-left: 0 !important;
  }
  .button__container {
    margin-right: 0 !important;
  }

}

/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .search-bar {
    margin-left: 0 !important;
  }
  .button__container {
    margin-right: 0 !important;
  }
}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar {
    margin-left: 0 !important;
  }
  .button__container {
    margin-right: 0 !important;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search-bar {
    margin-left: 0 !important;
  }
  .button__container {
    margin-right: 0 !important;
  }
}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

/*Laptop L*/

@media screen and (min-width: 1440px) {
}

